include inc/header
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src='https://checkout.razorpay.com/v1/checkout.js')

.container
 .row
  .col-md-12.purchase
   .box_style_2
    span.tape
    .row
      .col-md-12
        h3 Purchase #{course_name}
    #message-contact
    form#contactform(method='post' action='#')
      .row
        .col-md-6.col-sm-6
          .form-group
            input#name_contact.form-control.style_2(type='text' name='name_contact' placeholder='Enter Name' required)
            
        .col-md-6.col-sm-6
          .form-group
            input#email_contact.form-control.style_2(type='email' name='email_contact' placeholder='Enter Email' required)
            
      .row
                    
        .col-md-6.col-sm-6
          .form-group
            input#phone_contact.form-control.style_2(type='text' name='phone_contact' placeholder='Enter Phone number' required)
        .col-md-6.col-sm-6
          .form-group
            input#schedule.form-control.style_2(type='text' readonly name='schedule' value=schedule  required)    
        
        //.col-md-6
          .form-group
            textarea#message_contact.form-control(rows='5' name='message_contact' placeholder='Write your message' style='height:200px;')
      .row
        .col-md-12
          button#rzp-button1.button_medium Pay ₹#{price}
          
          
          //input#submit-contact.button_medium(type='submit' value='Pay $'+price)


script.
  var orderId ;
  $(document).ready(function(){
  var settings = {
  "url": "/create/orderId",
  "method": "POST",
  "timeout": 0,
  "headers": {
  "Content-Type": "application/json"
  },
  "data": JSON.stringify({
  "amount": "#{price}"*100,
  
  "schedule": $('#schedule').val(),
  
  "course":"#{course_name}",
  
  }),
  };
  //creates new orderId everytime
  $.ajax(settings).done(function (response) {
  orderId=response.orderId;
  console.log(orderId);
  $("button").show();
  });
  });


script.
  document.getElementById('rzp-button1').onclick = function(e){
  var options = {
  "key": "rzp_live_T8bcZGRZGzTvi4", // Enter the Key ID generated from the Dashboard
  "amount": "#{price}" *100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
  "currency": "INR",
  "name": "INSTROVATE",
  "description": "Transaction",
  "image": "/views/assets/img/logo.png",
  "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the previous step
  "handler": function (response){
  //alert(response.razorpay_payment_id);
  //alert(response.razorpay_order_id);
  //alert(response.razorpay_signature) 
  
     var settings = {
      "url": "/api/payment/verify",
      "method": "POST",
      "timeout": 0,
      "headers": {
      "Content-Type": "application/json"
  },
  "data": JSON.stringify({response,"name": $('#name_contact').val(),
  "phone": $('#phone_contact').val(),
  "email": $('#email_contact').val(),}),
  }
  //creates new orderId everytime
  $.ajax(settings).done(function (response) {
  //alert(JSON.stringify(response));
  window.location.replace('/thank-you');
  });
  
  },
  
  "notes": {
  "address": "Razorpay Corporate Office"
  },
  "theme": {
  "color": "#3399cc"
  }
  };
  var rzp1 = new Razorpay(options);
  rzp1.on('payment.failed', function (response){
  alert(response.error.code);
  alert(response.error.description);
  alert(response.error.source);
  alert(response.error.step);
  alert(response.error.reason);
  alert(response.error.metadata.order_id);
  alert(response.error.metadata.payment_id);
  });
  rzp1.open();
  e.preventDefault();
  }



include inc/footer
