include inc/header
each course in courseData
 section#sub-header
  .container
    .row
      .col-md-12.text-center
       
        h1= course.name
        //p.lead= vendor.description
          
    // End row
    
  // End container
  .divider_top
 section#main_content
  .container
    ol.breadcrumb
      li
        a(href='/') Home
      li.active= course.name
    .row
      .col-md-9
        h2= course.name
        p !{course.description}
        div(class="tabs")
         a(href="#schedules") UpComing Classes
         a(href="#details") Full Course 
         a(href="#target_audience") Pre-Requisite
         a(href="#related") More Details
        h3(style="padding-bottom:20px;" id="schedules") UpComing Classes
        
        .row#schedules
         - var i = 0
         each schedule in course.schedules
          .col-md-4
           a(href="/purchase/id="+course._id+"&schedule="+i)
            .schedules
             h4
              | Date: #{schedule.startdate} - #{schedule.enddate}
              br 
              | Time:  #{schedule.starttime} - #{schedule.endtime}
          -i++
        h3(style="padding-bottom:20px;" id="details") Full Course
        | !{course.course_detail}
        h3(style="padding-bottom:20px;" id="target_audience") Pre-Requisite
        | !{course.target_audience}
        h3(style="padding-bottom:20px;" id="related") More Details
        | !{course.related}

          
      aside.col-md-3
        .box_style_1(style="text-align:center; border:0px; box-shadow:inset 0 0 0 0px #e0e5e9;")
          h4(style="text-align:center; border:0")= 'Price: ₹'+ course.price
          span(class="enroll_button" ) Enroll Now

        .box_style_1(style="text-align:center;")
          h4 Contact For Details
          form(method="post" class="form-group request_form" action="/request-form")
           input(type="text" placeholder="Full Name*" name="full_name" required)
           input(type="email" placeholder="Email Address*" name="email" required)
           input(type="text" placeholder="Phone Number*" name="phone" required)
           input(type="text" placeholder="State*" name="state" required)
           input(type="text" placeholder="Job Title*" name="job_title" required)
           input(type="text" placeholder="Company Name*" name="company" required)
           input(type="submit" name="Submit" value="Submit" class="btn btn-success")
          
              
              
        
          
          
        
      // End col-md-4
    // End row
  // End container
include inc/footer
