include inc/header
each course in courseData
 section#sub-header
  .container
    .row
      .col-md-12.text-center
       
        h1= course.name
        //p.lead= vendor.description
          
    // End row
    
  // End container
  .divider_top
 section#main_content
  .container
    ol.breadcrumb
      li
        a(href='/') Home
      li.active= course.name
    .row
      .col-md-8
        h2= course.name
        p= course.description
        h3(style="padding-bottom:20px;") Schedules
        
        .row#schedules
         - var i = 0
         each schedule in course.schedules
          .col-md-4
           a(href="/purchase/id="+course._id+"&schedule="+i)
            .schedules
             h4
              | Date: #{schedule.startdate} - #{schedule.enddate}
              br 
              | Time:  #{schedule.starttime} - #{schedule.endtime}
          -i++
     

          
      aside.col-md-4
        .box_style_1(style="text-align:center;")
          
          h4(style="text-align:center; border:0")= 'Price: ₹'+ course.price
          a(class="enroll_button" href="#schedules") Enroll Now
              
              
        
          
          
        
      // End col-md-4
    // End row
  // End container
include inc/footer
